<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Name & Date HTML example</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8 width=device-width, initial-scale=1"/>
    <style>
        table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  border: 1px solid #ddd;
}

th, td {
  text-align: left;
  padding: 16px;
}

tr:nth-child(even) {
  background-color: #f2f2f2
}


    </style>
</head>

<body>
<form id="create-form" th:action="@{/userAdminCreate/save}" th:object="${user}" th:method="post" accept-charset="utf-8">
    <div class="userCreate">
        <h2>Create User Page</h2>
        <table>
            <tr>
                <th>NAME</th>
                <th>AGE</th>
                <th>ADDRESS</th>
            </tr>

            <tr>
                <td><input type="text" placeholder="Enter User Name" name="name" required th:value="${user.name}"></td>
                <td><input type="text" placeholder="Enter Age" name="age" required th:value="${user.age}"></td>
                <td><input type="text" placeholder="Enter Address" name="address" required th:value="${user.address}"></td>
            </tr>


        </table>
        <h2>Phone List</h2>
        <table>
            <tr>
                <th>NUMBER</th>
            </tr>

            <tr>
                <td><input type="text" placeholder="Enter Number 1" name="number" ></td>
                <td><input type="text" placeholder="Enter Number 2" name="number" ></td>
            </tr>
       <!--     <tr>
                <td><input type="text" placeholder="Enter Number 2" name="number" th:value="${user.address.number}"></td>
            </tr>
-->
        </table>

        <button type="submit">Submit</button>

    </div>
</form>

</body>
</html>


